* {
    box-sizing: border-box;
    /* color del fondo de la pagina */
    background-color: aliceblue;
    /*  */
    margin: 0;
    /*  */
    height: 0;
}

/*body {
    margin: 0;
    height: 0;
    background-color: #08090b;
}*/

/* contenedor padre */
.main_container {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    /* grid-template-columns: 1fr 1fr; */
}

.contenedorA {
    background-color: dodgerblue;
    height: 20rem;
    padding: 5rem;
    margin: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    box-shadow: 5px 5px 10px 2px;
    /* width: 100%; */
    /* height: 200px; */

}
.lcd_containerA {
    display: flex;
    justify-content: center;
    margin-top: -15rem;
    
}
.lcd_containerA > input {
    width: 20rem;
    height: 1rem;
    padding: 1rem;

}
.buttons_container {
   display: flex;
   justify-content: center;
}
.btns_porcentaje {
    display: flex;
    justify-content: center;
    /* grid-template-columns: repeat(3,2fr);  */
    /* gap: 29px; */
    
}
.btn {
    /* display: flex; */
    height: 1.2rem;
    padding: 1rem;
}
.contenedorB {
    background-color: gold;
    height: 20rem;
    padding: 5rem;
    margin: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: .5rem;
    box-shadow: 5px 5px 10px 2px;
}
.lcd_containerB {
    display: flex;
    justify-content: center;
    margin-top: -15rem;
}
.lcd_containerB > input {
    width: 12rem;
    height: 1rem;
    padding: 1rem;
    text-align: center;

}
.buttons_container2 {
    display: flex;
   justify-content: center;
}
.btns_ByE {
   display: flex;
   justify-content: center;
   gap: 3rem;
}
.btnB {
    height: 1.2rem;
    padding: 1rem;
    font-size: 40px;
}
.btnE {
    height: 1.2rem;
    padding: 1rem;
}
